.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 97px 12vw 150px;
}
.headingText {
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
  color: #9b5d26;
  font-weight: 500;
}
.headingPara {
  font-family: "PPEiko-Thin";
  width: 83%;
  font-size: 32px;
  line-height: 50px;
  color: #59493b;
  font-weight: 100;
  padding-top: 80px;
  padding-bottom: 204px;
  text-align: center;
}
.headingTxt {
  font-family: "PPEiko-LightItalic";
  font-size: 18px;
  line-height: 32px;
  color: #9b5d26;
}
.headingSpeTxt {
  font-family: "Gotham-Light";
  font-size: 18px;
  line-height: 32px;
  color: #9b5d26;
}
.headingRow {
  /* width: 77%; */
  justify-content: space-between;
}
.headingQuoteTxt {
  font-family: "Gotham-Light";
  font-size: 24px;
  color: #9b5d26;
  padding-top: 83px;
  width: 80%;
}
.headingQuoteName {
  padding-top: 22px;
  font-family: "Gotham-book";
  font-size: 18px;
  color: #59493b;
}
.headingQuoteTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  color: #9b5d26;
  font-weight: 500;
  line-height: 21px;
  word-spacing: 1px;
  padding-bottom: 64px;
  /* padding-right: 35%; */
}
.headingQuotePara {
  font-family: "Gotham-book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  padding-right: 276px;
  padding-bottom: 29px;
}
/* project section */
.projectMobile {
  display: none;
}
.projectContainer {
  padding: 150px 12vw 229px;
  background-color: rgba(251,239,225,0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectRowBox {
  /* width: 80%; */
  /* max-width: 1336px; */
  margin-left: 7vw;
  justify-content: space-between;
}
.projectRowBox:nth-child(1) {
  align-items: flex-end;
}
.projectRowBox:nth-child(2) {
  /* margin-right: 150px; */
  /* margin-left: 0px; */
  margin-top: 147px;
}
.projectRowBox:nth-child(2) .projectTxt{
  /* width: 60%; */
  /* margin-right: 284px; */
}
.projectLeftBox {
  /* padding-left: 135px; */
}
.projectSpeImgBox {
  /* padding-top: 155px; */
}
.projectImgBox {
  /* padding-top: 79px; */
}
.leftVerImg {
  /* width: 80%; */
}
.rightVerImg {
  width: 80%;
  text-align: right;
}
.projectRightBox {
  /* padding-left: 166px; */
}
.projectSpeRightBox {
  /* padding-left: 100px; */
}
.projectTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  word-spacing: 1px;
  color: #9b5d26;
  /* padding-top: 77px; */
  padding-bottom: 50px;
}

.projectRightBox .projectTitle {
  /* padding-top:270px; */
}
.projectRowBox:nth-child(2) .projectTitle {
  padding-top: 0px;
}
.projectSpeRightBox .projectTitle {
  /* padding-top: 342px; */
  padding-bottom: 47px;
}
.projectTxt {
  font-family: "Gotham-Book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
}
.projectRightBox .projectTxt {
  /* width: 84%; */
  /* margin-right: 100px; */
}
.projectSubTxt {
  padding-top: 40px;
}

.projectRowBox:nth-child(3) {
  margin-left: 0vw;
  margin-top: 147px;
}
.infoContainer .projectRowBox {
  align-items: flex-start;

}
.projectRowBox:nth-child(3) .projectTxt {
  width: 80%;

}


/* info */
.infoContainer {
  padding: 81px 12vw 200px;
}
.infoContainer .projectRowBox{
  margin-left: 0px;
}
.infoContainer .projectTitle{
  padding-top: 0px;
  padding-bottom: 47px;
}

.infoContainer .projectImgBox {
  padding-top: 0px;
  position: relative;
  bottom: 150px;
}
.infoContainer .projectTxt {
  width: 95%;
}


@media (max-width: 1919px) {

  .infoContainer .projectTxt{
    width: 110%;
  }
  .projectRightBox .projectTxt {
    /* width: 84%; */
    /* margin-right: clamp(20px,2vw,100px); */
  }
  .projectRowBox:nth-child(2) .projectTxt{
    /* width: 60%; */
    /* margin-right: clamp(100px,9vw,284px); */
  }
}

@media (max-width: 1700px) {
  .projectRowBox {
    /* width: 85%; */
  }
  .headingQuotePara {
    padding-bottom: clamp(20px,2vw,29px);
    padding-right: clamp(100px,10vw,276px);

  }
  .projectRightBox .projectTitle {
    padding-top:clamp(125px,15vw,270px);
    padding-right:clamp(64px,5vw,100px);
  }
  .projectImgBox {
    /* padding-top: clamp(50px,3.5vw,77px); */

  }
  
/* }
@media (max-width: 1700px) { */
  .projectRowBox {
    /* width: 89%; */
  }
  .headingQuoteTitle,
  .headingText {
    font-size: clamp(12px,0.7vw,18px);
    line-height: clamp(25px,2vw,32px);
  }
  .headingQuoteTitle {
    padding-bottom: clamp(20px,3vw,64px);
  }
  .headingPara {
    font-size: clamp(20px,1.7vw,32px);
    line-height: clamp(30px,3vw,50px);
    /* padding-bottom: clamp(25px,7vw,200px); */
    padding-top: clamp(20px,4vw,80px);
    padding-bottom:clamp(45px,9vw,200px);
  }
  .headingContainer {
    padding: clamp(45px,7vw,97px) 12vw clamp(65px,9vw,150px);
  }


  /* .headingText {
    font-size: clamp(12px,1.5vw,18px);
    padding-bottom: clamp(20px,5vw,83px);
  } */
  /* .headingPara {
    font-size: clamp(21px,2vw,32px);
    line-height: clamp(31px,4vw,50px);
    padding-bottom: clamp(25px,7vw,200px);
  } */
  /* about */
  .headingSpeTxt,
  .headingTxt,
  .headingQuotePara {
    font-size: clamp(13px,1vw,18px);
    line-height: clamp(23px,2vw,32px);
  }
  /* project */
  .projectContainer {
    padding: clamp(40px,6.5vw,150px) 12vw clamp(65px,9vw,229px);
  }
  .projectTitle {
    font-size: clamp(12px,0.7vw,18px);
    line-height: clamp(25px,2vw,32px);
    padding-top: clamp(50px,3.5vw,77px);
    padding-bottom: clamp(30px,3vw,47px)!important;
  }
  .projectRowBox:nth-child(3) .projectTitle {
    padding-top: 0px;

  }
  .projectTxt {
    font-size: clamp(13px,1vw,18px);
    line-height: clamp(23px,2vw,32px);
  }
  .projectRowBox {
    /* width: 95%; */
  }
  .projectRowBox:nth-child(2) .projectTxt{
    /* width: 60%; */
    /* margin-right: clamp(100px,9vw,284px); */
  }
  .projectRowBox:nth-child(2){
    margin-top:clamp(40px,6.5vw,147px);
  }
  .projectRowBox:nth-child(3) {
    margin-top: clamp(40px,6.5vw,147px);
  }

  /* info */
  .infoContainer {
    padding: clamp(23px,3.5vw,81px) 12vw clamp(60px,8.5vw,200px);
  }
  .infoContainer .projectImgBox{
    bottom: clamp(63px,6vw,150px);
  }
  .projectSubTxt {
    padding-top: clamp(25px,3vw,40px);

  }
}
@media (max-width: 1500px) {
  .projectRowBox {
    /* width: 100%; */
  }
  .projectRowBox:nth-child(2) {
    margin-right: 0px;
  }
}
@media (max-width: 1400px) {
  .headingSpeTxt {
    padding-bottom: 50px;
  }
  .headingQuoteTitle {
    padding-left: 0;
    /* padding-top: 50px; */
  }
  .headingQuotePara {
    /* padding-right: 0; */
  }
  .projectRowBox {
    /* width: 105%; */
  }
}
@media (max-width: 1200px) {
  .infoContainer,
  .headingContainer {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .infoContainer {
    padding-bottom: 0px;
  }
  .projectRightBox .projectTxt {
    /* width: 84%; */
    margin-right: clamp(20px,6vw,100px);
  }
  .infoContainer .projectImgBox{
    bottom: clamp(85px,13vw,150px);
  }
}
@media (max-width: 1200px) {
  .projectLeftBox {
    padding-left: 0;
    padding-top: 80px;
  }
  .projectRightBox {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  /* .projectRightBox > .projectImgBox {
    order: 1;
  }
  .projectRightBox > .projectTitle {
    order: 2;
  }
  .projectRightBox > .projectTxt {
    order: 3;
  }
  .projectRightBox > .projectSubTxt {
    order: 4;
  } */
  /* .projectSpeRightBox {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  } */
  .projectImgBox {
    /* padding-top: 0px; */
  }
  /* .projectSpeImgBox {
    padding-top: 80px;
  }
  .infoContainer {
    padding-bottom: 0px;
  }
  .projectContainer {
    padding: 60px 4vw 80px;
  }
  .projectRightBox > .projectTitle,
  .projectSpeRightBox .projectTitle {
    padding-top: 80px!important;
  } */
}
@media (max-width: 1200px) {
  .projectContainer {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .projectSpace {
    padding-top: 50px;
  }
}
@media (max-width: 1050px) {
  .headingQuotePara {
    padding-right: 15px;
  }
  .projectLeftBox,
  .projectRightBox {
    padding:0px;
  }
  .projectRightBox .projectTxt {
    /* width: 84%; */
    margin-right: 0px;
  }
  .projectRowBox:nth-child(3) .projectTxt {
    width: 100%;
  }
  .projectSpeRightBox .projectTxt,
  .projectSpeRightBox .projectTitle{
    padding-left: 10px;
  }
  .projectRowBox:nth-child(3) {
    margin-top: 80px;
  }


  .infoContainer .projectImgBox {
    bottom: 0px;
  }
  .infoContainer .projectRowBox {
    align-items: center;
  }
}
@media (max-width: 992px) {
  .headingPara {
    width: 100%;
  }
  .headingRow {
    width: 100%;
  }
  .infoRow {
    padding-right: 4vw;
    padding-left: 4vw;
    width: 100%;
  }
  .infoQuotePara {
    width: 100%;
  }
  .projectTextBox {
    padding: 63px 12px 0 12px;
  }
  
  .infoLeftBox {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .headingContainer {
    padding: 68px 9vw 70px;
  }
  .headingQuoteTitle,
  .headingText {
    padding-bottom: 49px;
    font-size: 12px;
    line-height: 15px;
  }
  .headingPara {
    font-size: 20px;
    line-height: 31px;
    padding-top: 0px;
    padding-bottom:100px;
  }
  .headingRow {
    flex-direction: column-reverse;
    width: 100vw;
  }
  .headingRow .left{
    padding: 68px 9vw 0px;
  }
  .headingRow .right{
    padding: 0px;
  }
  .headingQuotePara,
  .headingTxt,
  .headingSpeTxt {
    font-size: 16px;
    line-height: 28px;
  }
  .headingQuotePara {
    padding-bottom: 31px;
    padding-right: 0px;

  }
  .headingRow .headingSpeTxt,
  .headingRow .headingTxt {
    font-size: 20px;
    line-height: 31px;
  }
  .headingSpeTxt {
    padding-bottom: 0px;
  }

  /* project */
  .projectMobile {
    display: block;
  }
  .projectContainer .projectRowBox:nth-child(2) .projectRightBox:first-child, 
  .projectContainer .projectRowBox:first-child .projectRightBox {
    display: none;
  }
  .projectRowBox > div {
    padding: 0px;
  }
  .projectLeftBox {
    padding-top: 0px;
  }
  .projectContainer {
    padding: 70px 9vw 51px;
  }
  .projectRowBox {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px!important;
  }
  .projectTxt {
    font-size: 16px;
    line-height: 28px;
    width: 99%!important;
    padding-bottom: 31px;
  }
  .projectRowBox:nth-child(2) .projectTxt{
    width: 95%!important;
  }
  .projectRowBox:nth-child(3) .projectTxt{
    padding-bottom: 0px;
    width: 98%!important;
  }
  .projectTitle {
    font-size: 12px;
    line-height: 15px;
    padding-top: 48px!important;
    padding-bottom: 49px!important;
  }
  .projectImageLeft {
    padding-right: 0;
    padding-bottom: 50px;
  }
  .projectImageRight {
    padding-left: 0;
  }
  .projectImageRightImg {
    text-align: center;
  }
  .projectTextBox {
    padding: 63px 0 0 0;
  }
  .headingQuoteTxt {
    width: 100%;
    font-size: 18px;
  }

  /* infocontainer */
  .infoContainer {
    padding: 0px;
  }
  .infoContainer .projectRowBox {
    flex-direction: column-reverse;
  }
  .infoContainer .projectRowBox > div:first-child{
    padding: 48px 9vw 171px;
  }
  .infoContainer .projectImgBox {
    bottom: 0px;
  }
  .infoContainer .projectTitle {
    padding-top: 0px!important;
  }
  .infoContainer .projectSubTxt {
    padding-top: 0px;
  }
  .infoContainer .headingTxt{
    font-size: 18px;
    line-height: 29px;
  }
}

/* p */
@media (max-width: 575px) {
  /* heading container */

  .headingText,
  .projectTextHeading {
    padding-bottom: 20px;
  }
  .headingBtn {
    font-size: 18px;
  }
  /* about */
  .headingQuoteTxt {
    padding-top: 25px;;
  }
  .headingQuoteName {
    font-size: 13px;
  }
  /* project */
  .projectRowBox:nth-child(2) {
    margin-right: 0px;
  }
}