.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 98px 4vw 98px 4vw;
}
.headingText {
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #9b5d26;
  font-weight: 500;
  padding-bottom: 83px;
}
.headingPara {
  font-family: "PPEiko-Thin";
  width: 63%;
  font-size: 32px;
  line-height: 50px;
  color: #59493b;
  font-weight: 100;
  text-align: center;
}
/* .headingBtnBox {
  display: flex;
  align-items: center;
}
.headingBtn {
  font-family: "Gotham-Light";
  font-size: 22px;
  line-height: 26px;
  color: #9b5d26;
  font-weight: 300;
  text-align: center;
  padding-right: 10.5px;
} */
.headingRow {
  width: 77%;
}
.headingQuoteTxt {
  font-family: "Gotham-Light";
  font-size: 24px;
  color: #9b5d26;
  padding-top: 83px;
  width: 80%;
}
.headingQuoteName {
  padding-top: 22px;
  font-family: "Gotham-book";
  font-size: 18px;
  color: #59493b;
}
.headingQuoteTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  color: #9b5d26;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 1px;
  padding-bottom: 50px;
  padding-left: 35%;
}
.headingQuotePara {
  font-family: "Gotham-book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  padding-left: 35%;
}
/* project section */
.projectContainer {
  padding: 150px 4vw 162px 4vw;
  background-color: #fbefe1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectRowBox {
  width: 80%;
}
.projectRowBox:nth-child(2) .projectTxt {
  width: 67%;
}
.projectLeftBox {
  padding-top: 182px;
  padding-left: 135px;
}
.projectSpeImgBox {
  padding-top: 245px;
}
.projectImgBox {
  padding-top: 80px;
}
.leftVerImg {
  width: 80%;
}
.rightVerImg {
  width: 80%;
}
.projectRightBox {
  padding-left: 166px;
}
.projectTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 1px;
  color: #9b5d26;
  padding-top:40px;
  padding-bottom: 50px;
}
.speTitle {
  padding-top: 0;
}
.projectTxt {
  font-family: "Gotham-Book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  width: 62%;
}

.infoBox {
  display: flex;
  justify-content: center;
}
.infoRow {
  padding-top: 150px;
  width: 80%;
}
.infoQuoteTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  color: #9b5d26;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 1px;
  padding-bottom: 50px;
}
.infoQuotePara {
  font-family: "Gotham-book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  width: 60%;
}
.infoTextHeading {
  padding-top: 150px;
}
.infoLeftBox {
  padding-bottom: 200px;
  padding-left: 4vw;
}
@media (max-width: 1800px) {
  .projectRowBox {
    width: 85%;
  }
}
@media (max-width: 1700px) {
  .projectRowBox {
    width: 89%;
  }
}
@media (max-width: 1600px) {
  .headingText {
    font-size: clamp(12px,1.5vw,18px);
    padding-bottom: clamp(20px,5vw,83px);
  }
  .headingPara {
    font-size: clamp(21px,2vw,32px);
    line-height: clamp(31px,4vw,50px);
  }
  /* about */
  .headingQuotePara {
    font-size: clamp(13px,1vw,18px);
    line-height: clamp(26px,2vw,32px);
  }
  /* project */
  .projectTxt {
    font-size: clamp(13px,1.5vw,18px);
  }
  .projectRowBox {
    width: 95%;
  }
}@media (max-width: 1500px) {
  .projectRowBox {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .projectRowBox {
    width: 100%;
  }
  .projectTxt {
    width: 100%;
  }
  .projectImageLeft {
    padding-right: 0;
    padding-bottom: 50px;
  }
  .projectImageRight {
    padding-left: 0;
  }
  .projectImageRightImg {
    text-align: center;
  }
  .projectTextBox {
    padding: 63px 0 0 0;
  }
  .headingQuoteTxt {
    width: 100%;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .projectSpace {
    padding-top: 50px;
  }
}
@media (max-width: 1400px) {
  .headingQuoteTitle {
    padding-left: 0;
    padding-top: 50px;
  }
  .headingQuotePara {
    padding-left: 0;
  }
  .projectRowBox {
    width: 105%;
  }
  .leftVerImg {
    margin-left: 50px;
  }
  .projectLeftBox {
    padding-top: 130px;
  }
  .projectRightBox {
    padding-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 1200px) {
  .leftVerImg {
    width: 100%;
    margin-left: 0px;
  }
  .speTitle {
    padding-top: 80px;
  }
  .projectLeftBox {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .projectRightBox {
    padding-top: 80px;
    padding-left: 0px;
  }
  .projectImgBox {
    padding-top: 80px;
    order: 1;
  }
  .projectTitle {
    order: 2;
  }
  .projectTxt {
    order: 3;
  }
  .projectSpeImgBox {
    padding-top: 0px;
  }
  /* .infoContainer {
    padding-bottom: 200px;
  } */
}
@media (max-width: 992px) {
  .headingPara {
    width: 100%;
  }
  .headingRow {
    width: 100%;
  }
  .infoRow {
    padding-right: 4vw;
    padding-left: 4vw;
    width: 100%;
  }
  .infoQuotePara {
    width: 100%;
  }
  .projectTextBox {
    padding: 63px 12px 0 12px;
  }
  /* .infoContainer {
    padding: 0 4vw 0 4vw;
  } */
  .infoLeftBox {
    padding-bottom: 100px;
  }
}

/* p */
@media (max-width: 550px) {
  /* heading container */
  .headingContainer {
    padding: 60px 4vw 80px 4vw;
  }
  .headingText {
    font-size: 12px;
  }
  .headingText,
  .projectTextHeading {
    padding-bottom: 20px;
  }
  .headingPara {
    font-size: 21px;
    line-height: 1.6;
    padding-bottom: 0px;
  }
  .headingBtn {
    font-size: 18px;
  }
  /* project */
  .projectContainer {
    padding: 80px 4vw 80px;
  }
  .projectTxt {
    font-size: 13px;
    line-height: 26px;
  }
  .projectRowBox:nth-child(2) .projectTxt {
    width: 100%;
  }
  .projectTitle {
    padding-top: 80px;
  }
}
