.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 120px 4vw 200px;
  overflow: hidden;
  width: 100%;
}
.headingText {
  font-family: "Gotham-Medium";
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1px;
  color: #9b5d26;
  font-weight: 500;
}
.headingSubText {
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
  color: #9b5d26;
  font-weight: 500;
  padding-bottom: 37px;
}
.headingPara {
  font-family: "Gotham-Book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  text-align: left;
  width: 75%;
  /* min-height: 150px; */
}
.headingSubTxt {
  font-family: "Gotham-Book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  text-align: left;
  border-bottom: 1px solid #59493b;
  /* width: 62%; */
  padding-bottom: 10.5px;
  padding-top: 10.5px;
}
.headingSubTxt:first-child {
  border-top: 1px solid #59493b;

}
/* .headingBtnBox {
  display: flex;
  align-items: center;
}
.headingBtn {
  font-family: "Gotham-Light";
  font-size: 22px;
  line-height: 26px;
  color: #9b5d26;
  font-weight: 300;
  text-align: center;
  padding-right: 10.5px;
} */
.headingRow {
  width: 77%;
}
.headingQuoteTxt {
  font-family: "Gotham-Light";
  font-size: 24px;
  color: #9b5d26;
  padding-top: 83px;
  width: 80%;
}
.headingQuoteName {
  padding-top: 22px;
  font-family: "Gotham-book";
  font-size: 18px;
  color: #59493b;
}
.headingQuoteTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  color: #9b5d26;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 1px;
  padding-bottom: 50px;
  padding-left: 35%;
}
.headingQuotePara {
  font-family: "Gotham-book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  padding-left: 35%;
}
/* project section */
.projectContainer {
  padding: 150px 4vw 162px 4vw;
  background-color: #fbefe1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectRowBox {
  width: 80%;
}
.projectLeftBox {
  padding-top: 232px;
  padding-left: 135px;
}
.projectSpeImgBox {
  padding-top: 245px;
}
.projectImgBox {
  padding-top: 200px;
}
.leftVerImg {
  width: 80%;
}
.rightVerImg {
  width: 80%;
}
.projectRightBox {
  padding-left: 166px;
}
.projectTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 1px;
  color: #9b5d26;
  padding-top: 80px;
  padding-bottom: 50px;
}
.speTitle {
  padding-top: 0;
}
.projectTxt {
  font-family: "Gotham-Book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  width: 80%;
}

.infoBox {
  display: flex;
  justify-content: center;
}
.infoRow {
  padding-top: 150px;
  width: 80%;
}
.infoQuoteTitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  color: #9b5d26;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 1px;
  padding-bottom: 50px;
}
.infoQuotePara {
  font-family: "Gotham-book";
  font-size: 18px;
  line-height: 32px;
  color: #59493b;
  width: 60%;
}
.infoTextHeading {
  padding-top: 150px;
}
.infoLeftBox {
  padding-bottom: 200px;
  padding-left: 4vw;
}
@media (max-width: 1700px) {
  .headingContainer {
    padding: clamp(40px,6vw,120px) 4vw clamp(60px,8.5vw,200px);
  }
  .headingText {
    font-size: clamp(19px,1.7vw,26px);
    line-height: clamp(24px,2vw,31px);

  }
  .headingSubText,
  .headingSubTxt,
  .headingPara {
    font-size: clamp(12px,0.7vw,18px);
    line-height: clamp(25px,2vw,32px);
  }
  .headingSubText {
    padding-bottom: clamp(10px,1vw,37px);
  }
  .headingSubTxt {
    padding-bottom: clamp(5px,0.5vw,10.5px);
    padding-top: clamp(5px,0.5vw,10.5px);
  }

  /* .headingPara,
  .headingSubTxt {
    font-size: clamp(13px,1.5vw,18px);
    line-height: clamp(26px,2vw,32px);
  } */
}
@media (max-width: 1200px) {
  /* .headingContainer {
    padding-right: 4vw;
    padding-left: 4vw;

  } */

}

@media (max-width: 1199px) {
  .cusFormHeading {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .projectRowBox {
    width: 100%;
  }
  .projectTxt {
    width: 100%;
  }
  .projectImageLeft {
    padding-right: 0;
    padding-bottom: 50px;
  }
  .projectImageRight {
    padding-left: 0;
  }
  .projectImageRightImg {
    text-align: center;
  }
  .projectTextBox {
    padding: 63px 0 0 0;
  }
  .headingQuoteTxt {
    width: 100%;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .headingPara {
    width: 100%;
    min-height: unset;
  }
  .headingSubText {
    padding-top: 50px;
  }
  .headingSubTxt {
    width: 100%;
  }
  .headingRow {
    width: 100%;
  }
  .infoRow {
    padding-right: 4vw;
    padding-left: 4vw;
    width: 100%;
  }
  .infoQuotePara {
    width: 100%;
  }
  .projectTextBox {
    padding: 63px 12px 0 12px;
  }
  /* .infoContainer {
    padding: 0 4vw 0 4vw;
  } */
  .infoLeftBox {
    padding-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  .leftVerImg {
    width: 100%;
  }
  .speTitle {
    padding-top: 80px;
  }
  .projectLeftBox {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .projectRightBox {
    padding-top: 80px;
    padding-left: 0px;
  }
  .projectImgBox {
    padding-top: 80px;
    order: 1;
  }
  .projectTitle {
    order: 2;
  }
  .projectTxt {
    order: 3;
  }
  .projectSpeImgBox {
    padding-top: 0px;
  }
  /* .infoContainer {
    padding-bottom: 200px;
  } */
}
@media (min-width: 1200px) {
  .projectSpace {
    padding-top: 50px;
  }
}
@media (max-width: 1400px) {
  .headingQuoteTitle {
    padding-left: 0;
    padding-top: 50px;
  }
  .headingQuotePara {
    padding-left: 0;
  }
}


/* p */
@media (max-width: 550px) {
  /* heading container */
  .headingPara,
  .headingSubTxt {  
    font-size: 13px;
    line-height: 26px;
  }
}