.bannerContainer {
  position:relative;
  padding: 119px 4vw 119.5px 4vw;
  /* background-color: #FBEFE1; */
}
.bannerContainer:before,
.cusFormContainer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FBEFE1;
  z-index: -1;
  opacity: 0.5;
}
.bannerRow {
  border-bottom: solid 1px #59493b;
  padding-bottom: 119.5px;
}
.contactBtnContainer {
  display: flex;
  justify-content: center;
}
.contactBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 41px 19px 43.3px; */
  background-color: transparent;
  border: unset;
  /* margin-top: 36px; */
}
.contactBtnText {
  font-family: "PPEiko-LightItalic";
  font-size: 50px;
  line-height: 60px;
  color: #9b5d26;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10.5px;
}
.contactBtnBoxTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 43px 18px 43.3px;
  background-color: transparent;
  border: 1px solid #9b5d26;
  margin-top: 36px;
}
.contactBtnTextTwo {
  font-family: "Gotham-Light";
  font-size: 16px;
  line-height: 19px;
  color: #9b5d26;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10.5px;
}
/* custome form */
.cusFormSubtitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 22px;
  word-spacing: 1px;
  color: #9b5d26;
  font-weight: 500;
}
.cusFormContainer {
  position: relative;
  padding: 0 4vw 150px 4vw;
  /* background-color: #fbefe1; */
}
.cusFormHeading {
  font-family: "Gotham-Medium";
  font-size: 26px;
  line-height: 31px;
  word-spacing: 1px;
  color: #9b5d26;
  text-transform: uppercase;
}
.cusInputBox {
  display: flex;
  flex-direction: column;
}
.cusInput {
  border: 0;
  border-bottom: 1px solid #59493b;
  background-color: transparent;
  margin-top: 28.5px;
}
.allowContactBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80.5px;
}
.allowContactText {
  text-align: justify;
  width: 90%;
  font-family: "Gotham-Book";
  font-size: 12px;
  line-height: 18px;
  word-spacing: 1px;
  color: #59493b;
}
.allowContactInput {
  height: 25px;
  width: 25px;
  border: solid 1px #59493b;
  background-color: transparent;
  padding-right: 15px;
}
.messageContainer {
  text-align: center;
  padding-top: 100px;
  font-family: "Gotham-Medium";
  font-size: 26px;
  line-height: 31px;
  word-spacing: 1px;
  color: #9b5d26;
}
@media (max-width: 768px) {
  .contactBtnContainer {
    padding-top: 100px;
  }
}

@media (max-width: 550px) {
  .contactBtnText {
    font-size: 25px;
  }
  .bannerContainer {
    padding-bottom: 60px;
  }
  .cusFormHeading {
    font-size:22px;
    margin-bottom: 35px;
  }
  .cusFormSubtitle {
    padding-top: 35px;
    font-size: 16px;
  }
  .allowContactBox {
    padding-top: 45px;
  } 
  .cusFormContainer {
    padding-bottom: 60px;
  }
  .footer-container {
    padding: 60px 4vw 60px 4vw;
  }
  .footer-text-box {
    padding-top: 50px;
  }
}
