.bannerContainer {
  position:relative;
  padding: 120px 4vw 125px;
  /* background-color: #FBEFE1; */
  
}
.bannerContainer:before,
.cusFormContainer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FBEFE1;
  z-index: -1;
  opacity: 0.5;
}
.bannerRow {
  border-bottom: solid 1px #59493b;
  padding-bottom: 119.5px;
  justify-content: space-between;
}
.contactBtnContainer {
  display: flex;
  /* justify-content: center; */
}
.contactBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 41px 19px 43.3px; */
  background-color: transparent;
  border: unset;
  /* margin-top: 36px; */
}
.contactBtnText {
  font-family: "PPEiko-LightItalic";
  font-size: 50px;
  line-height: 60px;
  color: #9b5d26;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10.5px;
}
.contactBtnBox span {
  margin-top: 10px!important;
}
.contactBtnBoxTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 43px 18px 43.3px;
  background-color: transparent;
  border: 1px solid #9b5d26;
  margin-top: 47px;
}
.contactBtnTextTwo {
  font-family: "PPEiko-LightItalic";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #9b5d26;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10.5px;
}
/* custome form */
.contactForm {
  margin-right: 48px;
}
.row {
  justify-content: space-between;
}
.row > div:first-child {
  /* padding-left: 0px; */
  /* padding-right: 31px; */
}
.row > div:last-child {
  /* padding-right: 0px; */
  /* padding-left: 31px; */
}


.cusFormSubtitleHearUs,
.cusFormSubtitle {
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 22px;
  word-spacing: 1px;
  color: #9b5d26;
  font-weight: 500;
}
.cusFormSubtitleHearUs {
  padding-top: 58px;
  padding-bottom: 32px;
  text-transform: uppercase;
}
.contactForm input::placeholder {
  color: #59493B;
  opacity: 0.4;

}
.registerSelect{
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  /* font-family: "Gotham-book";
  font-size: 18px;
  line-height: 32px;
  word-spacing: 1px; */
  /* visibility: hidden; */
}
.selectPlaceholderText {
  color: #59493B;
  opacity: 0.4;
  font-family: "Gotham-Book",
}




.cusFormContainer {
  position: relative;
  padding: 146px 4vw 116px;
  /* background-color: #fbefe1; */
}
.cusFormHeading {
  font-family: "Gotham-Medium";
  font-size: 26px;
  line-height: 31px;
  word-spacing: 1px;
  color: #9b5d26;
  text-transform: uppercase;
}
.cusInputBox {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
}
.cusInput {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #59493b;
  background-color: transparent;
  margin-top: 28.5px;
}

.allowContactBox {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding-top: 100px;
}
.allowContactText {
  text-align: justify;
  width: 75%;
  /* margin-right: 290px; */
  font-family: "Gotham-Book";
  font-size: 12px;
  line-height: 18px;
  word-spacing: 1px;
  color: #59493b;
  margin-left: 15px;
}
.allowContactInput {
  height: 25px;
  width: 25px;
  border: solid 1px #59493b;
  background-color: transparent;
  padding-right: 15px;
}
.messageContainer {
  /* text-align: center; */
  padding-top: 34px;
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 21px;
  word-spacing: 1px;
  color: #9b5d26;
  text-transform: uppercase;
}
@media (max-width: 1700px) {
  .cusFormContainer {
    padding: clamp(40px,6.3vw,146px) 12vw clamp(60px,4.5vw,116px);

  }
  .cusFormHeading {
    font-size: clamp(19px,1.7vw,26px);
    line-height: clamp(24px,2vw,31px);
  }
  .cusInput,
  .cusFormSubtitle {
    font-size: clamp(12px,0.7vw,18px);
    line-height: clamp(25px,2vw,32px);
  }
  .cusFormSubtitleHearUs{
    font-size: clamp(12px,0.7vw,18px);
    line-height: clamp(16px,0.6vw,22px);
    padding-top: clamp(40px, 3.5vw, 58px);
  }

  .messageContainer {
    font-size: clamp(12px,0.7vw,18px);
    line-height: clamp(15px, 0.6vw, 21px);
  }
  .cusInput {
    margin-top: clamp(15px,2vw,28.5px);

  }
  .allowContactBox {
    padding-top: clamp(45px,5vw,100px);
  }
  .allowContactInput {
    height: clamp(20px,1vw,25px);
    width: clamp(20px,1vw,25px);
  }
  .allowContactText {
    font-size: clamp(10px, 0.5vw, 12px);
    line-height: clamp(15px, 0.6vw, 18px);
    /* margin-right: clamp(0px,18vw,377px); */

  }

  .contactBtnBoxTwo{
    padding: clamp(10px,1vw,18px) clamp(30px,2vw,43px);
  }
  .contactBtnTextTwo {
    font-size: clamp(11px,1vw,16px);
    line-height: clamp(17px,1.1vw,19px);
  }
  .contactBtnBoxTwo > span{
    width: clamp(20px,1.3vw,25.19px)!important;
    height: clamp(10px,0.5vw,12.86px)!important;
  }




  .bannerContainer {
    padding: clamp(50px,6vw,120px) 4vw clamp(52px,6vw,125px) 4vw;
  }
  .contactBtnText {
    font-size: clamp(30px, 3vw, 50px);
  }
}
@media (max-width: 1400px) {
  .cusFormHeading {
    /* font-size:22px;
    margin-bottom: 35px; */
  }
  .cusFormSubtitle {
    /* padding-top: 35px;
    font-size: 16px; */
  }
  .allowContactBox {
    /* padding-top: 45px; */
  } 
  .cusFormContainer {
    padding-bottom: 60px;
  }
}
@media (max-width: 1199px) {
  .cusFormHeading {
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .contactBtnText {
    font-size: 25px;
  }
  
  
}

@media (max-width: 767px) {
  .contactBtnContainer {
    padding-top: 100px;
  }

  /* register form */
  .cusFormContainer {
    padding: 70px 9vw 100px;
  }
  .cusFormHeading {
    font-family: "PPEiko-Thin";
    font-size: 20px;
    line-height: 31px;
    color: #59493B;
    text-transform: capitalize;
    margin-bottom: 48px;
  }
  .cusInput,
  .cusFormSubtitle {
    font-size:12px;
    line-height:15px;
  }
  .cusFormSubtitle {
    margin-bottom: 30px;

  }

  /* how did you hear about us */
  .cusFormSubtitleHearUs {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 29px;
  }

  .allowContactBox {
    padding-top: 50px;
  }
  .allowContactText {
    width: 100%;
  }

  /* message */
  .messageContainer {
    font-family: "PPEiko-Thin";
    font-size: 20px;
    line-height: 15px;
    color: #59493B;
    text-transform: capitalize;
    margin-top: 30px;
  }
  .messageContainer span {
    font-family: "Gotham-Medium";
    font-size: 12px;
    line-height: 15px;
    color: #9B5D26;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;

  }

}

@media (max-width: 575px) {
  /* .cusFormHeading {
    font-size:22px;
    margin-bottom: 35px;
  }
  .cusFormSubtitle {
    padding-top: 35px;
    font-size: 16px;
  }
  .allowContactBox {
    padding-top: 45px;
  } 
  .cusFormContainer {
    padding-bottom: 60px;
  } */
  
  .bannerContainer {
    padding: 0px;
  }
  
  .contactBtnContainer {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .contactBtnText {
    font-size: 30px;
    line-height: 47px;
    color: #FFFFFF;
  }
  .contactBtnBox > span {
    width: 15.58px!important;
    height: 9.86px!important;
    margin-top: 7px!important;
  }
  .footer-container {
    padding: 60px 4vw 60px 4vw;
  }
  .footer-text-box {
    padding-top: 50px;
  }
}
