.headerContainer {
  position: fixed;
  z-index: 11;
  padding: 60px 3.8vw 0 4vw;
  max-width: 100%;
  transition: all 0.3s ease;
}
.headerLogoBtn {
  border: unset;
  background-color: transparent;
  line-height: normal;
  font-size: none;
}
.headerContainer .headerLogoBtn > span > img {
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 51%));
}
.headerActiveContainer .headerLogoBtn > span {
  height: 50px!important;
  width: 183.99px!important;
}
.headerContainer .homeLogo {
  filter: none!important;
}
.headerActiveContainer {
  position: fixed;
  z-index: 12;
  padding: 30px 3.8vw 19px 4vw;
  max-width: 100%;
  /* background-color: #ffffff; */
  box-shadow: 5px 5px 10px 0px rgb(114 82 54 / 15%);
}
.headerActiveContainer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: -1;
  /* opacity: 0.5; */
  opacity: 0.95;

}
.navContainer {
  display: flex;
  justify-content: flex-end;
}
.navLinkBox {
  justify-content: flex-end;
}
.navbarToggler {
  border: unset;
}
.navbarToggler > span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251,239,225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbarActiveToggler {
  border: unset;
}
.navbarActiveToggler > span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(89,73,59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbarLink {
  font-family: "Gotham-Book";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #fbefe1 !important;
  padding-right:25px !important;
  padding-left:25px !important;
}
.homeNavbarLink {
  font-family: "Gotham-Book";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #25211F !important;
  padding-right:25px !important;
  padding-left:25px !important;
}
.navbarLink:last-child,
.homeNavbarLink:last-child {
  padding-right: 0px!important;
}

.navbarLink:last-child,
.navbarActiveLink:last-child{
  padding-right:0px!important;
}
.navbarActiveLink {
  font-family: "Gotham-Book";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #59493b !important;
  padding-right:25px !important;
  padding-left:25px !important;
}
@media (max-width: 1700px) {
  .headerContainer {
    padding-top:clamp(40px,3vw,60px);
  }
  .headerLogoBtn {
    width: clamp(183.98px,14vw,234.94px)!important;
  }
  .homeNavbarLink,
  .navbarActiveLink,
  .navbarLink{
    font-size: clamp(12px,0.9vw,15px);
    line-height: 18px;
  }
  .headerActiveContainer {
    padding: clamp(20px,1.5vw,30px) 3.8vw clamp(10px,0.7vw,19px) 4vw;
  }
}
@media (max-width: 1024px) {
  .headerContainer {
    position: fixed;
    z-index: 11;
    /* padding: 60px 40px 0 40px; */
  }
}
@media (max-width: 992px) {
  .headerContainer {
    padding: 60px 4vw 0 4vw;
  }
  .headerActiveContainer {
    padding: 26px 4vw 25px 4vw;
  }
  .navCollapse {
    padding: 15px;
    border: solid 2px #59493b;
    background-color: #ffffff;
    position: absolute;
    top: 55px;
  }
  .navbarLink {
    color: #59493b !important;
  }
}



@media (max-width:550px) {
  .headerContainer {
    padding-top: 8vw;
  }
  .headerActiveContainer {
    padding: 26px 4vw 25px 4vw;
  }
  .headerLogoBtn > span {
    width: 183.98px!important;
  }
}
